button {
    background-color: transparent;
    border: 1px solid rgb(224, 221, 221);
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}